/*This will be my universal selector*/
*{
    margin:0;
    padding:0;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* trying to add a background with this code here*/
body {
    background-image: url("./2075.JPEG");
    background-size: cover; 
}
/*This isn't working, ask the tutor about this ^^^^ */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*This will be the header*/
header {
    background-color: #f2f2f2;
    padding: 20px 0;
}

header h1 {
    display: inline-block;
    margin: 0;
    height: 200px;
    width: 100px;
}

header img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 50%;
}

/*This is the nav*/
nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    color: #007bff;
}

section {
    padding: 50px 0;
}  
section h2 {
    margin-top: 0;
}

section ul {}


/*media screen info*/
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {

}