*{
    margin:0;
    padding:0;
}

.root {}

header {}

nav {}

body {}

footer {}

.headshot {
    background-image: url(image directory);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {

}